.green-button {
    background: linear-gradient(65deg, #2ecc71 0, #2bc56c 100%);
    &::before {
        box-shadow: 0 8px 16px rgba(46,204,113,.25);
    }
    &:hover::before {
        box-shadow: 0 8px 16px rgba(46,204,113,.4);
    }
}

.black-button {
    background: linear-gradient(65deg, #353b48 0, #2f3640 100%);
    &::before {
        box-shadow: 0 8px 16px rgba(0,0,0,.25);
    }
    &:hover::before {
        box-shadow: 0 8px 16px rgba(0,0,0,.4);
    }
}